body{
font-family:Arial;
max-width:800px;
margin:auto;
padding:20px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
margin-left:10px;
text-decoration:none;
color:black;
}

footer{
margin-top:40px;
}
